<!DOCTYPE html>
<html lang="<%- langClass %>">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Firebase Server Auth</title>
    <%- include('partials/head.html') -%>
    <link rel="stylesheet" href="/css/mvp.css" />
    <script src="https://www.gstatic.com/firebasejs/8.0.2/firebase-app.js" defer></script>
    <!--<script src="https://www.gstatic.com/firebasejs/8.0.2/firebase-analytics.js" defer></script>-->
    <script src="https://www.gstatic.com/firebasejs/8.0.2/firebase-auth.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" defer></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  </head>
  <body>
    <%- include('partials/navigation.html') -%>
    <main>
      <section class="mt-5">
        <form id="signup-form" style="max-width: 500px; width: 80%;">
          <div class="form-group row">
            <label for="fullnAME" class="col-sm-4 col-form-label">Full name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="fullName" placeholder="Enter your full name" required/>
            </div>
          </div>
          <div class="form-group row">
            <label for="email" class="col-sm-4 col-form-label">Email</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="email" placeholder="Enter your email" required/>
            </div>
          </div>
          <div class="form-group row">
            <label for="password" class="col-sm-4 col-form-label">Password</label>
            <div class="col-sm-8">
              <input type="password" class="form-control" name="password" placeholder="Enter your password" required/>
            </div>
          </div>
          <div class="form-group row">
            <label for="city" class="col-sm-4 col-form-label">City</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="city" placeholder="Enter your city" required/>
            </div>
          </div>
          <div class="form-group row">
            <label for="postalCode" class="col-sm-4 col-form-label">Postal code</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="postalCode" placeholder="Enter your postal code" required/>
            </div>
          </div>
          <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="exampleCheck1">Administrator</label>
              <div class="col-sm-8" style="display: flex; align-items: center; justify-content: flex-start;">
                <input type="checkbox" name="isAdmin" id="checkbox">
              </div>
          </div>
          <button class="pt-3 pb-3" style="float: right;">Sign up</button>
        </form>
      </section>

      <script>
        window.addEventListener("DOMContentLoaded", () => {
          const firebaseConfig = {
              apiKey: "AIzaSyBIbw7wtKNLRWAUtY4EoTD9ySRjvvUpTeg",
              authDomain: "reciclame-app-b1f20.firebaseapp.com",
              databaseURL: "https://reciclame-app-b1f20.firebaseio.com",
              projectId: "reciclame-app-b1f20",
              storageBucket: "reciclame-app-b1f20.appspot.com",
              messagingSenderId: "293535846004",
              appId: "1:293535846004:web:7b350c83eb76b6e3f30b21d",
              measurementID: "G-2ZQQ9E2M3X"
            };

          firebase.initializeApp(firebaseConfig);
          firebase.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

          document
            .getElementById("signup-form")
            .addEventListener("submit", (event) => {
              event.preventDefault();

              openLoading("<h4>Creating a new user account ...</h4>");

              const email = event.target.email.value,
                password = event.target.password.value,
                city = event.target.city.value,
                postalCode = event.target.postalCode.value,
                fullName = event.target.fullName.value,
                isAdmin = event.target.isAdmin.checked;

                console.log(isAdmin);

              firebase
                .auth()
                .createUserWithEmailAndPassword(email, password)
                .then(result => {
                  console.log(result.user.uid);
                  return fetch("/createUserData", {
                      method: "POST",
                      headers: {
                        Accept: "application/json",
                        "Content-Type": "application/json",
                        "CSRF-Token": Cookies.get("XSRF-TOKEN"),
                      },
                      body: JSON.stringify({
                        'uid': result.user.uid,
                        'city': city,
                        'fullName': fullName,
                        'postalCode': postalCode,
                        'isAdmin': isAdmin
                      }),
                    });
                })
                .then(() => {
                  return firebase.auth().signOut();
                })
                .then(() => {
                  successAlert('<h4>User created successfully</h4>');
                  window.location.assign('/profile');
                })
                .catch(error => {
                  console.log(error);
                  errorAlert('<h4>Something wrong ocurred</h4><h6>' + error.message + '</h6>');
                 });
              return false;
            });
          });
      </script>
    </main>
  </body>
</html>