<!DOCTYPE html>
<html lang="<%- langClass %>">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create user page</title>
    <%- include('partials/head.html') -%>
    <link rel="stylesheet" href="/css/mvp.css" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js" integrity="sha512-nOQuvD9nKirvxDdvQ9OMqe2dgapbPB7vYAMrzJihw5m+aNcf0dX53m6YxM4LgA9u8e9eg9QX+/+mPu8kCNpV2A==" crossorigin="anonymous"></script>-->
  </head>
  <body>
    <%- include('partials/navigation.html') -%>
    <main>
      <section class="mt-4">
        <form id="signup-form" style="max-width: 500px; width: 80%;">
          <div class="form-group row">
            <label for="fullnAME" class="col-sm-4 col-form-label">Full name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="fullName" placeholder="Enter your full name" required/>
            </div>
          </div>
          <div class="form-group row">
            <label for="email" class="col-sm-4 col-form-label">Email</label>
            <div class="col-sm-8">
              <input type="email" class="form-control" name="email" placeholder="Enter your email" required/>
            </div>
          </div>
          <div class="form-group row">
            <label for="password" class="col-sm-4 col-form-label">Password</label>
            <div class="col-sm-8">
              <input type="password" class="form-control" name="password" placeholder="Enter your password" required/>
            </div>
          </div>
          <div class="form-group row">
            <label for="city" class="col-sm-4 col-form-label">City</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="city" placeholder="Enter your city" required/>
            </div>
          </div>
          <div class="form-group row">
            <label for="postalCode" class="col-sm-4 col-form-label">Postal code</label>
            <div class="col-sm-8">
              <input type="numeric" class="form-control" name="postalCode" placeholder="Enter your postal code" required/>
            </div>
          </div>
          <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="isDisabled">Enabled</label>
              <div class="col-sm-8" style="display: flex; align-items: center; justify-content: flex-start;">
                <input type="checkbox" name="isDisabled" id="checkbox" checked>
              </div>
              <label class="col-sm-4 col-form-label" for="isVerified">Verified</label>
              <div class="col-sm-8" style="display: flex; align-items: center; justify-content: flex-start;">
                <input type="checkbox" name="isVerified" id="checkbox">
            </div>
            <label class="col-sm-4 col-form-label" for="exampleCheck1">Administrator</label>
              <div class="col-sm-8" style="display: flex; align-items: center; justify-content: flex-start;">
                <input type="checkbox" name="isAdmin" id="checkbox">
              </div>
          </div>
          <button class="pt-3 pb-3 btn-reciclame float-right lift-up">Sign up</button>
        </form>
      </section>

      <script>
        $(document).ready(() => {
          $("#signup-form").submit(event => {
              event.preventDefault();

              openLoading("<h4>Creating a new user account ...</h4>");

              const email = event.target.email.value,
                password = event.target.password.value,
                city = event.target.city.value,
                postalCode = event.target.postalCode.value,
                fullName = event.target.fullName.value,
                isDisabled = event.target.isDisabled.checked,
                isVerified = event.target.isVerified.checked,
                isAdmin = event.target.isAdmin.checked;

                fetch("/createUserData", {
                  method: "POST",
                  headers: {
                    Accept: "application/json",
                    "Content-Type": "application/json",
                    //"CSRF-Token": Cookies.get("XSRF-TOKEN"),
                  },
                  body: JSON.stringify({
                    'email': email,
                    'password': password, //CryptoJS.MD5(password)
                    'city': city,
                    'fullName': fullName,
                    'postalCode': postalCode,
                    'isAdmin': isAdmin,
                    'emailVerified': isVerified,
                    'disabled': !isDisabled
                  }),
                })
                .then((response) => {
                  console.log(response);
                  if(response.ok) {
                    successAlert('<h4>User created successfully</h4>');
                    window.location.assign('/profile');
                  } else {
                    throw new Error(response.message);
                  }
                })
                .catch((error) => {
                  errorAlert('<h4>Something wrong ocurred</h4><h6>' + error.message + '</h6>');
                });
            });
          });
      </script>
    </main>
  </body>
</html>