body {
	/*background: #a1ffce;
	background: -webkit-linear-gradient(to right, #a1ffce, #faffd1);
	background: linear-gradient(to right, #a1ffce, #faffd1);*/
	/*background: #ECE9E6;  /* fallback for old browsers */
	/*background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
	/*background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: "Nunito";
}

.bg-grey-gr {
	background: #F0F0F0;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #F0F0F0, #eef2f3, #F0F0F0);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #F0F0F0, #eef2f3, #F0F0F0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

footer {
	background: #F0F0F0;
}

html {
  min-height: 100%;
  position: relative;
}

footer {
  background-color: black;  /* fallback for old browsers */
/*background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
/*background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /*position: absolute;
  bottom: 0;*/
  width: 100%;
  color: white;
}

h1 {
	font-size: 54px !important;
	font-weight: 700;
}

.carousel-caption {
	top: 5% !important;
	color: black !important;
}

.carousel-indicators li {
	background-color: black !important;
}

.lift-up {
	transition: ease-out 0.1s;
}

.lift-up:hover {
	transform: scale(1.05) !important;
}

.custom-select {
	background: transparent;
	color: white;
	border: 2px solid;
	outline: none;
	margin-left: 10px;
	padding: .375rem .75rem .375rem .75rem;
	width: 90px;
}

.card.home {
	border-radius: 20px;
	/*width: 18rem;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 20px;
	padding-top: 30px;*/
	max-width: 400px;
	min-height: 300px;
	-webkit-box-shadow: 1px 0px 20px 3px rgba(5,5,5,0.24);
	-moz-box-shadow: 1px 0px 20px 3px rgba(5,5,5,0.24);
	box-shadow: 1px 0px 20px 3px rgba(5,5,5,0.24);
}

.card.home > .card-text {
	font-size: 18px;
}

/*.card.home > .card-body {
	margin-top: 10px;
}*/

.card > i {
	color: black;
}

.rounded-circle {
	max-width: 250px;
}

.nav-tabs {
	border-bottom: 1px solid #02b328;
}

.nav-tabs .nav-link {
	color: #02b328;
}

.nav-tabs .nav-link:hover {
	border-color: #02b328 #02b328 #fff !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: #01802b;
	border: none !important;
}

/* Sweet Alerts */
.sweet_loader {
	width: 140px;
	height: 140px;
	margin: 0 auto;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-name: ro;
	transform-origin: 50% 50%;
	transform: rotate(0) translate(0,0);
}
@keyframes ro {
	100% {
		transform: rotate(-360deg) translate(0,0);
	}
}

.row {
	margin-right: 0px !important;
	margin-left: 0px !important;
}

#admin-link:hover {
	background-color: white;
	color: #01802b !important;
}

@media(min-width: 1200px) {
	#responsive-background-size {
		background-size: contain !important;
	}
}

textarea:focus, textarea[type]:focus, input:focus, input[type]:focus {
    border-color: #02b328;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px #6bfa8f;
    outline: 0 none;
}

/* Profile Card */
.profile-card-2 {
	max-width: 280px;
	/*min-width: 300px;*/
	max-height: 400px;
	height: auto;
	width: auto;
    background-color: #FFF;
    background-position: left;
    overflow: hidden;
    position: relative;
    cursor: pointer;
	border-radius: 20px;
	border: 5px solid white;
	-webkit-box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.4); -moz-box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.4); box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.4);
}

.profile-card-2 img {
	transition: all linear 0.25s;
	filter: brightness(1.5);
}

.profile-card-2 .profile-name {
    position: absolute;
    left: 30px;
    bottom: 70px;
    font-size: 30px;
    color: #FFF;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    transition: all linear 0.25s;
}

.profile-card-2 .profile-icons {
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: #FFF;
    transition: all linear 0.25s;
}

.profile-card-2 .profile-username {
    position: absolute;
    bottom: 50px;
    left: 30px;
    color: #FFF;
    font-size: 13px;
    transition: all linear 0.25s;
}

.profile-card-2 .profile-icons .fa {
    margin: 5px;
}

.profile-card-2:hover img {
	filter: grayscale(60%);
}

.profile-card-2:hover .profile-name {
    bottom: 80px;
}

.profile-card-2:hover .profile-username {
    bottom: 60px;
}

.profile-card-2:hover .profile-icons {
    right: 40px;
}

.navbar {
	padding: 0px;
}

.k-header.k-grid-toolbar {
    background: none !important;
    padding: 0;
    border: none;
	float: right;
}

.no-scrollbar .k-grid-header {
    padding: 0 !important;
}

.no-scrollbar .k-grid-content {
    overflow-y: visible;
}

#grid > div.k-pager-wrap.k-grid-pager.k-widget.k-floatwrap > span {
	margin-right: auto;
}

.k-grid td {
	padding: 10px 10px !important;
}


@media(max-width: 750px) {
	.rotate-panel {
		padding: 75px !important;
	}
}

@media(max-width: 650px) {
	.rotate-panel {
		padding: 65px !important;
		overflow: hidden !important;
	}
}

@media(max-width: 600px) {
	.rotate-panel {
		padding: 55px !important;
		overflow: hidden !important;
	}
}


@media(max-width: 550px) {
	.rotate-panel {
		padding: 50px 40px !important;
		overflow: hidden !important;
	}
}

@media(max-width: 450px) {
	.rotate-panel {
		padding: 40px 30px !important;
		overflow: hidden !important;
	}
}

/* Navigation styles */
nav.navbar.sticky-top {
	background-color: #02b328 !important;
	border-bottom: 4px solid #01802b;
}

.navbar-brand {
	font-family: 'Pattaya' !important;
}

.navbar-brand > img {
	max-width: 40px;
	margin-right: 15px;
}

#admin-btn {
	border: 3px solid white; border-radius: 50px;
}