<div class="row ml-5 mr-5" style="align-items: center;">
  <div class="col-sm-5 lift-up" style="z-index: 1000;">
    <img data-aos="zoom-in-right" data-aos-duration="500" style="max-width: 500px;" src="/img/pantallamapa.png"/>
  </div>
  <div class="col text-left text-white" data-aos="fade-up-left" data-aos-duration="500">
    <div class="row" style="padding: 100px; background-color: #3ace27; transform: rotate(-6deg);">
      <span style="transform: rotate(6deg);">
        <h2 class="tr" key="h2-app-overview-1" style="font-weight: bold;">Descobreix</h2>
        <h4 class="tr" key="h4-app-overview-1">Utilitza el mapa integrat per saber quines HealthSites estan més a prop teu, identificant segons el tipus de marcador aquelles què estan verificades</h4>
        <p class="tr" key="p-app-overview-1" style="color: #a2f19d;">Podràs accedir a la seva finestra d'informació resumida per saber el seu nom, si és restaurant o botiga o conèixer la seva descripció. Si t'interessa accedeix al seu perfil pitjant a la mateixa</p>
      </span>
    </div>
  </div>
</div>
<div class="row ml-5 mr-5" style="align-items: center;">
  <div class="col text-left text-white" data-aos="fade-up-left" data-aos-duration="500">
    <div class="row" style="padding: 100px; background-color: #3ace27; transform: rotate(6deg);">
      <span style="transform: rotate(-6deg);">
        <h2 class="tr" key="h2-app-overview-2" style="font-weight: bold;">Cerca</h2>
        <h4 class="tr" key="h4-app-overview-2">Filtra el mapa o realitza una búsqueda per trobar la HealthSite que t'agrada</h4>
        <p class="tr" key="p-app-overview-2" style="color: #a2f19d;">A la pantalla de filtres podràs elegir les propietats que desitgis i a través del buscador integrat en el mapa podràs cercar per nom</p>
      </span>
    </div>
  </div>
  <div class="col-sm-5 lift-up" style="z-index: 1000;">
  <img data-aos="zoom-in-right" data-aos-duration="500" style="max-width: 500px;" src="/img/appbuscar.png"/>
  </div>
</div>
<div class="row ml-5 mr-5" style="align-items: center;">
  <div class="col-sm-5 lift-up" style="z-index: 1000;">
    <img data-aos="zoom-in-right" data-aos-duration="500" style="max-width: 500px;" src="/img/appconnecta.png"/>
  </div>
  <div class="col text-left text-white" data-aos="fade-up-left" data-aos-duration="500">
    <div class="row" style="padding: 100px; background-color: #3ace27; transform: rotate(-6deg);">
      <span style="transform: rotate(6deg);">
        <h2 class="tr" key="h2-app-overview-3" style="font-weight: bold;">Connecta</h2>
        <h4 class="tr" key="h4-app-overview-3">Deixa el teu comentari i segueix les HealthSites més interessants</h4>
        <p class="tr" key="p-app-overview-3" style="color: #a2f19d;">Comenta perquè la teva opinió és molt important; i segueix les HealthSites que t'agradin, les quals les tindràs llistades per poder realitzar accions ràpides i accedir al seu perfil</p>
      </span>
    </div>
  </div>
</div>