<div class="row ml-5 mr-5 mb-5" style="align-items: center;">
  <div class="col-sm-5 lift-up" style="z-index: 1000;">
    <img data-aos="zoom-in-right" data-aos-duration="500" style="max-width: 500px;" src="/img/apphealthsite1.png"/>
  </div>
  <div class="col text-left text-white" data-aos="fade-up-left" data-aos-duration="500">
    <div class="row" style="padding: 100px; background-color: #3ace27; transform: rotate(-6deg);">
      <span style="transform: rotate(6deg);">
        <h2 class="tr" key="h2-app-healthsite-1" style="font-weight: bold;">És un establiment afegit al mapa</h2>
        <h4 class="tr" key="h4-app-healthsite-1">el qual es caracteritza per oferir productes vegans, vegetarians, ecològics, free gluten o free lactosa</h4>
        <p class="tr" key="p-app-healthsite-1"style="color: #a2f19d;">A més a més, l'establiment pot estar verificat com a empresa, i ser restaurant o botiga. Seguidament podeu consultar les propietats d'una HealthSite</p>
      </span>
    </div>
  </div>
</div>

<div class="row mt-5 mb-3 text-center"><div class="col"><h3 class="tr" key="h3-app-healthsite-1">HealthSite Properties</h3></div></div>

<div class="row mb-5 pt-5 pb-5 pl-3 pr-3" style="background-image: url('img/texture2.jpg'); margin-bottom: 50px;background-size: contain;">
  <div class="row justify-content-center">

    <div class="col-2 card home  m-3 lift-up text-center" data-aos="fade-right" data-aos-duration="500">
      <div style="text-align: center !important;">
        <img src="/img/icon_vegan.png" style="max-width: 90px";/>
      </div>
      <div class="card-body"> 
        <h5 class="card-title tr" key="h5-app-healthsite-1">Vegan</h5>
      </div>
    </div>

    <div class="col-2 card home m-3 lift-up text-center" data-aos="fade-right" data-aos-duration="400">
      <div style="text-align: center !important;">
        <img src="/img/icon_vegetarian.png" style="max-width: 90px";/>
      </div>
      <div class="card-body">
        <h5 class="card-title tr" key="h5-app-healthsite-2">Vegetarian</h5>
      </div>
    </div>

    <div class="col-2 card home m-3 lift-up text-center" data-aos="fade-right" data-aos-duration="300">
      <div style="text-align: center !important;">
        <img src="/img/icon_ecologic.png" style="max-width: 90px;"/>
      </div>
      <div class="card-body">
        <h5 class="card-title tr" key="h5-app-healthsite-3">Ecologic</h5>
      </div>
    </div>

    <div class="col-2 card home m-3 lift-up text-center" data-aos="fade-right" data-aos-duration="200">
      <div style="text-align: center !important;">
        <img src="/img/icon_restaurant.png" style="max-width: 90px"/>
      </div>
      <div class="card-body">
        <h5 class="card-title tr" key="h5-app-healthsite-4">Restaurant</h5>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">

    <div class="col-2 card home m-3 lift-up text-center" data-aos="fade-left" data-aos-duration="200">
      <div style="text-align: center !important;">
        <img src="/img/icon_free_gluten.png" style="max-width: 90px";/>
      </div>
      <div class="card-body">
        <h5 class="card-title tr" key="h5-app-healthsite-5">Free Gluten</h5>
      </div>
    </div>

    <div class="col-2 card home m-3 lift-up text-center" data-aos="fade-left" data-aos-duration="300">
      <div style="text-align: center !important;">
        <img src="/img/icon_free_lactose.png" style="max-width: 90px";/>
      </div> 
      <div class="card-body">
        <h5 class="card-title tr" key="h5-app-healthsite-6">Free Lactose</h5>
      </div>
    </div>

    <div class="col-2 card home m-3 lift-up text-center" data-aos="fade-left" data-aos-duration="400">
      <div style="text-align: center !important;">
        <img src="/img/icon_verified.png" style="max-width: 90px";style="max-width: 80px";/>
      </div>
      <div class="card-body">
        <h5 class="card-title tr" key="h5-app-healthsite-7">Verified</h5>
      </div>
    </div>

    <div class="col-2 card home m-3 lift-up text-center" data-aos="fade-left" data-aos-duration="500">
      <div style="text-align: center !important;">
        <img src="/img/icon_store.png" style="max-width: 90px";style="max-width: 80px";/>
      </div>
      <div class="card-body">
        <h5 class="card-title tr" key="h5-app-healthsite-8">Store</h5>
      </div>
    </div>
  </div>
</div>

<div class="row ml-5 mr-5" style="align-items: center;">
  <div class="col text-left text-white" data-aos="fade-up-left" data-aos-duration="500">
    <div class="row" style="padding: 100px; background-color: #3ace27; transform: rotate(6deg);">
      <span style="transform: rotate(-6deg);">
        <h2 class="tr" key="h2-app-healthsite-2" style="font-weight: bold;">T'interessa una HealthSite?</h2>
        <h4 class="tr" key="h4-app-healthsite-2">Consulta les seves propietats, accedeix al seu contacte i esbrina l'opinió dels usuaris</h4>
        <p class="tr" key="p-app-healthsite-2"style="color: #a2f19d;">Accedeix al perfil d'una HealthSite per veure tota la seva informació detallada en seccions, deixar el teu comentari, donar like als comentaris més rellevants, o segueix-la per estar al corrent dels seus continguts</p>
      </span>
    </div>
  </div>
  <div class="col-sm-5 lift-up text-center" style="z-index: 1000;">
    <img data-aos="zoom-in-right" data-aos-duration="500" style="max-width: 500px;" src="/img/pantallaperfilhealthsite3.png"/>
  </div>
</div>