<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item text-center active">
      <img class="d-block w-100" style="max-height: 900px;" src="./img/img1.png" alt="First slide">
      <div class="carousel-caption">
        <!--<h1 class="h1-responsive tr" key="h1-carousel-1">Welcome to Reciclame</h3>-->
        <!--<h3 class="tr" key="h3-carousel-1">Let's start being healthy</p>-->
      </div>
    </div>
    <div class="carousel-item text-center">
      <img class="d-block w-100" style="max-height: 900px;" src="./img/img2.png" alt="Second slide">
      <div class="carousel-caption">
        <!--<h1 class="h1-responsive tr" key="h1-carousel-2">Healthy habits</h3>-->
        <!--<h3 class="tr" key="h3-carousel-2">The best ones you can bet for</p>-->
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<script>
  $(".carousel").carousel({
    interval: 4000
  })
</script>