<footer>
	<div class="container-fluid pt-5 pl-5 pr-5 pb-3">
	  <div class="row text-center text-md-left mt-3 pb-3">
		<div class="col-md-6 col-lg-4 col-xl-4 mx-auto mt-3">
		  <img id="footer-logo" data-aos="zoom-in" src="../img/reciclame_logo.svg" />
		</div>
		<hr class="w-100 clearfix d-md-none">
		<div class="col-md-4 col-lg-2 col-xl-2 mx-auto mt-3">
		  <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
		  <p>
			<a href="/about-us">About us</a>
		  </p>
		  <p>
			<a href="/contact">Contact</a>
		  </p>
		  <p>
			<a href="/admin">Administration</a>
		  </p>
		</div>
		<hr class="w-100 clearfix d-md-none">
		<div class="col-md-6 col-lg-3 col-xl-3 mx-auto mt-md-5 mt-lg-3">
		  <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
		  <p>
			<i class="fas fa-home mr-3"></i>Carrer de Jaume II, 69, 25001 Lleida</p>
		  <p>
			<i class="fas fa-envelope mr-3"></i>reciclame.udl@gmail.com</p>
			<p>
				<i class="fas fa-phone mr-3"></i>+34648843021</p>
		</div>
		<hr class="w-100 clearfix d-md-none">
		<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-md-5 mt-lg-3">
			<h6 class="text-uppercase mb-4 font-weight-bold">Terms and conditions</h6>
		  <p>
			<i class="fas fa-gavel mr-3"></i>Legal warning</p>
			<p>
				<i class="fas fa-cookie-bite mr-3"></i>Cookies policy</p>
		  <p>
			<i class="fas fa-user-secret mr-3"></i>Privacy policy</p>
		</div>
	  </div>
	  <hr style="border-top: 1px solid white;">
	  <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
		<div class="col-md-8 col-12 mt-4 mb-4">
		  <p style="line-height: 1.7rem">Reciclame is an app that wants to improve recycling and lower waste rates. Provides features that not only encourage people to recycle but they help them do it correctly. In the future, the app may even generate insights on how well informed the population is about environmental issues, allowing, for instance, authorities to develop an awareness plan and even check if the recycling bins are properly distributed around the country.</p>
		</div>
	  </div>
	  <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">
	  <div class="row pb-3">
		<div class="col-md-12">
		  <div class="d-flex justify-content-center">
			<a class="fb-ic">
			  <i class="fab fa-facebook-f fa-lg white-text mr-4"> </i>
			</a>
			<a class="tw-ic">
			  <i class="fab fa-twitter fa-lg white-text mr-4"> </i>
			</a>
			<a class="li-ic">
			  <i class="fab fa-linkedin-in fa-lg white-text mr-4"> </i>
			</a>
			<a class="ins-ic">
			  <i class="fab fa-instagram fa-lg white-text mr-4"> </i>
			</a>
		  </div>
		</div>
	  </div>
	  <div class="footer-copyright text-center text-white-50 py-3">© 2020 Copyright:
		<a class="dark-grey-text" href="https://reciclame-udl.herokuapp.com"> reciclame-udl.herokuapp.com</a> All rights reserved.
	  </div>
	</div>
  </footer>