<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark pl-md-5 pr-md-5 pl-2 pr-2 py-md-1" style="/*background-color: #368943 !important;*/ background-color: #02b328 !important; border-bottom: 4px solid #01802b;">
	<div class="container-fluid">
		<a class="navbar-brand" href="/" style="font-family: 'Pattaya' !important;"><img src="/img/faviconHealthSites.jpg" style="max-width: 40px; margin-right: 15px;">Reciclame</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item lift-up mr-3">
					<a class="nav-link" href="/"><i class="fas fa-home"></i> <span>Home</span><span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item lift-up mr-3">
					<a class="nav-link" href="/about-us"><i class="fas fa-users"></i> <span>About us</span></a>
				</li>
				<li class="nav-item lift-up mr-3">
					<a class="nav-link" href="/contact"><i class="fas fa-envelope"></i> <span>Contact</span></a>
				</li>
			</ul>
			<a id="admin-link"  type="button" class="btn py-1 pl-2 pr-2 text-white lift-up" style="border: 2px solid white; border-radius: 50px;" href="/admin">
				<span>Admin</span>
				<i class="fas fa-sign-in-alt"></i>
			</a>
			<!--<select class="custom-select lang">
			  <option class="tr" key="lang-en" value="en">English</option>
			  <option class="tr" key="lang-es" value="es">Spanish</option>
			</select>-->
		</div>
	</div>
</nav>